
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form button {
    padding: 0.5rem 1rem;
    background: #0f754e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background: #196425;
  }
  